{% extends 'admin_panel/base.html' %}

{% block content %}
<h2>Категории</h2>
<a href="{% url 'category_create' %}">Добавить новую категорию</a>

<form method="GET" action="{% url 'category_list' %}">
    <input type="text" name="q" placeholder="Поиск по названию категории" value="{{ request.GET.q }}">
    <button type="submit">Поиск</button>
</form>

<table>
    <thead>
        <tr>
            <th><a href="?sort=name">Название ↑</a> | <a href="?sort=-name">↓</a></th>
            <th><a href="?sort=slug">Слаг ↑</a> | <a href="?sort=-slug">↓</a></th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.slug }}</td>
            <td>
                <a href="{% url 'category_update' category.id %}">Изменить</a> |
                <a href="{% url 'category_delete' category.id %}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
